@charset 'UTF-8';
// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import '~bootstrap/scss/bootstrap';
@import 'vendors/retinens-vendors';

// 3. Base stuff
@import
  'base/base',
  'base/text',
  'base/fonts',
  'base/typography',
  'base/color_backgrounds',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import "components/cookie-consent";
// 6. Page-specific styles

// 7. Themes

