.cookie-consent{
  @extend .mx-auto;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  @extend .alert;
  @extend .alert-dark;
}

.cookie-consent__agree
{
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-primary;
}
